<?xml version="1.0"?>

<launch>
    <node name= "UserInterface" pkg= "final_assignment" type= "ui.py"  output= "screen"  />

   <node name= "AutomaticDriving" pkg= "final_assignment" type= "automatic.py"  output="screen"  />

 <node name= "ManualDriving" pkg= "final_assignment" type= "manual.py"  output="screen" />

<node name= "CollisionAvoidance" pkg= "final_assignment" type= "semi.py"  output="screen" />
</launch>
